/***********************************
 * CSS for www-ohjelmointi -kurssi
 * Petri Sallasmaa
 * Petri Salmela
 * 9.1.2013
 ***********************************/

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal; 
    font-weight: bold;
    src: url('fonts/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: italic; 
    font-weight: normal;
    src: url('fonts/JosefinSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: italic; 
    font-weight: bold;
    src: url('fonts/JosefinSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenBook';
    src: url('fonts/Hanken-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HankenLight';
    src: url('fonts/Hanken-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AveriaSans';
    src: url('fonts/AveriaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AveriaSans';
    src: url('fonts/AveriaSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AveriaSans';
    src: url('fonts/AveriaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AveriaSansLight';
    src: url('fonts/AveriaSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AveriaSansLight';
    src: url('fonts/AveriaSans-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AveriaSans';
    src: url('fonts/AveriaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
    background-color: white;
}

body {
    margin: 0;
    background-color: white;
    /*font-family: Roboto;*/
}

/****************************
 * Header
 ****************************/

.header {
    background-color: black;
}

.header h1 {
    margin: 0;
/*     margin: 0 0 0.5em 0; */
    padding: 0.5em 1em;
    color: #111;
    background-color: #F8C12A;
    box-shadow: inset 0 2px 2px black, inset 0 -1px 2px white;
    text-shadow: 1px 1px 1px black, -1px -1px 1px white;
}

/****************************
 * Main navigation
 ****************************/

.header ul {
    list-style: none;
    background-color: black;
    margin: 0;
    background: rgb(19,19,19); /* Old browsers */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
}

.header ul li {
    display: inline-block;
    padding: 0;
    border: 1px solid black;
    background: rgb(252,234,187); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
}

.header ul li.valittuSivu {
    display: inline-block;
    padding: 0;
    border: 1px solid black;
    background: rgb(252,234,187); /* Old browsers */
    background: -moz-linear-gradient(bottom,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5), inset -5px -5px 10px rgba(255,255,255,0.5);
}

.header ul li a {
    display: inline-block;
    padding: 0.5em 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
}

/****************************
 * Footer
 ****************************/
footer {
    margin: 2em 0 0 0;
    padding: 1em 2em;
    border-top: 2px solid black;
}

/***************************
 * Content
 ***************************/

.content {
    margin-left:2em;
    padding: 0 1em;
    max-width: 55em;
    background-color: white;
    font-family: "AveriaSans", "HankenBook", "Josefin Sans", sans-serif;
    font-family: helvetica, sans-serif;
}

.content .prevnext {
    margin: 0.3em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.content article + .prevnext {
    margin-top: 3em;
}

.content .prevnext a {
    flex-grow: 0;
    flex-shrink: 0;
    text-decoration: none;
    background-color: #ddd;
    color: black;
    padding: 0.2em 0.5em;
    border-radius: 5px;
}

.content .prevnext a:hover {
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
}

h2.koeohje{
    font-size:200%;
    text-shadow:2px 2px 2px red;
    color:red;
    box-shadow:0 0 6px red;
    border:1px solid red;
    border-radius:6px;
    padding:0 5px;
    margin-bottom:-3px;
    margin-left:20px;
    margin-right:750px;
    z-index:50;
}
p.koeohje{
    font-size:120%;
    font-weight:bold;
    padding:10px;
    border:2px solid red;
    border-radius:5px;
    margin-top:-3px;
    margin-bottom:2em;
    background-color:white;
    z-index:100;
    box-shadow:2px 2px 6px #990000;
}

/* koristelua */
div.koe h3{
    border-bottom:1px solid gray;
    margin-top:2em;
    color:blue;
}
span.koelinkki{
    display:block;
    margin:1em 1em;
    font-size:300%;
    border-bottom:1px solid gold;
    font-weight: bold;
}
span.tagi {
    font-family: "Courier New", "Courier", monospace;
    font-weight: bold;
    background-color: #ffc;
}

dl.reunuksilla {
    margin: 0.4em 1em;
    border: 2px solid #888;
    background-color: #eee;
    padding: 0.2em 0.8em 0.3em 0.8em;
}

dl.reunuksilla dt {
    font-weight: bold;
    margin-top: 0.7em;
}

ol.tehtavaluettelo li {
    margin-bottom: 0.7em;
}

li.jokeri {
    list-style-type: none;
}

li.jokeri:before {
    content: "*";
    margin-left: -1.4em;
    margin-right: 0.9em;
    color: red;
    font-weight: bold;
}

.esimlomake {
    padding: 1em 2em;
    margin: 1em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 8px 8px 3px #999;
}

.content a {
    color: blue;
}

.content a:visited {
    color: #33a;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: AveriaSans, helvetica, Arial, sans-serif;
}

.content h1.title {
    font-size: 200%;
    border-bottom: 4px solid #fd0;
}

.content h1 {
    font-size: 160%;
}

.content h2 {
    font-size: 140%;
}

.content h3 {
    font-size: 130%;
}

.content h4 {
    font-size: 120%;
}

.content pre {
    margin: 1em 2em;
    border-left: 8px solid #fd0;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 0 8px;
}

.content pre {
    background-color: #f8f8f8;
}

.content pre code {
    border-left: 2px solid black;
}

.content code:not(.hljs) {
    background-color: #ffa;
}

.content .html-example {
    font-size: 90%;
    font-family: serif;
    margin: 1em 1.5em;
    padding: 0.2em 1em;
    border-left: 11px solid #333;
    border-radius: 8px 0 0 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    background-color: #f8f8f8;
}

.content .html-example h1,
.content .html-example h2,
.content .html-example h3,
.content .html-example h4,
.content .html-example h5,
.content .html-example h6 {
    font-family: serif;
}

.content table:not(.rawtable) {
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 0 0 0 1px #555;
}

.content table:not(.rawtable) thead {
    background-color: #fd0;
}

.content table:not(.rawtable) th,
.content table:not(.rawtable) td {
    padding: 0.2em 0.5em;
    border: 2px solid white;
    text-align: left;
    vertical-align: top;
}

.content table:not(.rawtable) th {
    font-family: AveriaSans, helvetica, sans-serif;
}

.content table:not(.rawtable) td:nth-child(odd) {
    background-color: #eee;
}

.content table:not(.rawtable) td:nth-child(even) {
    background-color: #ffa;
}

/***************************
 * Jessyink
 ***************************/
.jessyink {
    clear: both;
    width: 350px;
    margin: 0.5em auto 0.5em 3em;
    padding: 0.5em;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #eee;
    float: right;
}

.jessyink-slideshow {
    width: 350px;
    height: 200px;
    border: none;
}

.jessyink-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.jessyink button {
    vertical-align: middle;
    line-height: 100%;
    height: 28px;
}

.jessyink-buttons .jessyink-fullscreenoff {
    display: none;
}

.jessyink[data-fullscreenmode="on"] .jessyink-buttons .jessyink-fullscreenoff {
    display: inline-block;
}

.jessyink[data-fullscreenmode="on"] .jessyink-buttons .jessyink-fullscreen,
.jessyink[data-fullscreenmode="on"] .jessyink-caption {
    display: none;
}

.jessyink[data-fullscreenmode="on"] .jessyink-buttons {
    background-color: #ddd;
    border-top: 1px solid #888;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5em;
    box-shadow: 0 -5px 5px rgba(0,0,0,0.4);
    opacity: 0.3;
    transition: opacity 0.3s;
}

.jessyink[data-fullscreenmode="on"] .jessyink-buttons:hover {
    opacity: 1;
}

.jessyink[data-fullscreenmode="on"] {
    position: fixed;
    width: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0;
}

.jessyink[data-fullscreenmode="on"] .jessyink-slideshow {
    width: 100%;
    height: 100%;
}

/*************************** 
 * Assignments
 ***************************/

.palautus {
    border: 2px solid #a00;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    background-color: #fcc;
    margin: 0.5em 15em 0.5em 3em;
    padding: 0.5em;
    font-weight: bold;
}

/*  Hide assignment elements  */
body#tehtavasivu div.viikkotehtavat div.sisalto div.elementti{
    display:none;
}
/*  Show assignment element that is picked up  */
body#tehtavasivu div.viikkotehtavat div.sisalto div.elementti.valittuElementti{
    display:block;
}

body#tehtavasivu div.viikkotehtavat div.navigaatio {
    width: 10em;
    float: left;
}

body#tehtavasivu div.viikkotehtavat div.sisalto,
body#tehtavasivu div.harjoitustyo {
    margin-left: 11em;
}

body#tehtavasivu div.harjoitustyo {
    margin-top: 2em;
}



/***************************************
 * Table of Contents
 ***************************************/
.content .tehtavalista,
#TableOfContents {
    float: right;
    border: 1px solid #555;
    margin: 0 0 1em 1em;
    background-color: #ddd;
    padding: 1em 0.5em;
    max-width: 15em;
}

.content .tehtavalista ol,
#TableOfContents ul {
    margin: 0;
    padding: 0 0.5em 0 1.5em;
}

